<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body style="background-image:url('../static/{{ image }}');background-repeat:no-repeat;background-size: cover;">
        <center>
        <h1 style="color: black; font-family: cursive; font-style: bold">
            BMI : {{ value }}<br>
            Result : {{ result }}
        </h1>
        <br><br>
        <a href="/">Main Page</a>
        </center>
</body>
</html>















{##}
{#        <img src="../static/{{ image }}"><br><br>#}
{#        <a href="/">Main Page</a>#}